<!DOCTYPE html>
<html>
        <title>Food-app</title>
<style>
input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
}

input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    padding: 10px;
}
</style>
 <nav>
	     <a style="color: #0629ea;position: absolute;text-decoration:none;left: 50px;top:40px;font-size: 18px;font-family: didot;" href="/calory">Calories</a>
    </nav>
<body>
<center><h3 style="margin-top: 160px;font-size: 35px;">First we eat, then we do everything else...,</h3></center>

<div>
  <form  role="form" action="" method="POST">
    <center><p><label for="city">Let's have a bite..</label></p>
    <input type="text" id="cityorhotel" name="city" placeholder = "Hungry????">
   <p> <input type="submit" value="Submit"></p></center>
	
  </form>
	<div style="text-align: center;color: blue;line-height:30px;table-layout: auto;">


<table style="width: 100%;">
  <tr>
    <th><strong>Name&emsp;&emsp;&emsp;&emsp;</strong></th>
    <th><strong>Restaurants Type</strong>&emsp;&emsp;&emsp;&emsp;</th>
    <th><strong>Average cost for 2 persons</strong>&emsp;&emsp;</th>
    <th><strong>Delivery available</strong>&emsp;&emsp;</th>
	<th><strong>Rating</strong></th>
    <th><strong>Id</strong></th>
  </tr>
  <tr>
    <td>{{name0}}</td>
    <td>{{cuisines0}}</td>
    <td>{{cost0}}</td>
    <td>{{delivery0}}</td>
    <td>{{rate0}}</td>
	<td>{{id0}}</td>
  </tr>
  <tr>
    <td>{{name1}}</td>
    <td>{{cuisines1}}</td>
    <td>{{cost1}}</td>
    <td>{{delivery1}}</td>
    <td>{{rate1}}</td>
	<td>{{id1}}</td>
  </tr>
<tr>
    <td>{{name2}}</td>
    <td>{{cuisines2}}</td>
    <td>{{cost2}}</td>
    <td>{{delivery2}}</td>
    <td>{{rate2}}</td>
	<td>{{id2}}</td>
  </tr>
<tr>
    <td>{{name3}}</td>
    <td>{{cuisines3}}</td>
    <td>{{cost3}}</td>
    <td>{{delivery3}}</td>
    <td>{{rate3}}</td>
	<td>{{id3}}</td>
  </tr>
<tr>
    <td>{{name4}}</td>
    <td>{{cuisines4}}</td>
    <td>{{cost4}}</td>
    <td>{{delivery4}}</td>
    <td>{{rate4}}</td>
	<td>{{id4}}</td>
  </tr>
<tr>
    <td>{{name5}}</td>
    <td>{{cuisines5}}</td>
    <td>{{cost5}}</td>
    <td>{{delivery5}}</td>
    <td>{{rate5}}</td>
	<td>{{id5}}</td>
  </tr>
  <tr>
    <td>{{name6}}</td>
    <td>{{cuisines6}}</td>
    <td>{{cost6}}</td>
    <td>{{delivery6}}</td>
    <td>{{rate6}}</td>
	<td>{{id6}}</td>
  </tr>
<tr>
    <td>{{name7}}</td>
    <td>{{cuisines7}}</td>
    <td>{{cost7}}</td>
    <td>{{delivery7}}</td>
    <td>{{rate7}}</td>
	<td>{{id7}}</td>
  </tr>
<tr>
    <td>{{name8}}</td>
    <td>{{cuisines8}}</td>
    <td>{{cost8}}</td>
    <td>{{delivery8}}</td>
    <td>{{rate8}}</td>
	<td>{{id8}}</td>
  </tr>
<tr>
    <td>{{name9}}</td>
    <td>{{cuisines9}}</td>
    <td>{{cost9}}</td>
    <td>{{delivery9}}</td>
    <td>{{rate9}}</td>
	<td>{{id9}}</td>
  </tr>
</table>

</div>
  </form>
</div>

</body>
</html>
